# Entrada de configuración para el backend de Robin HOOT
MONGO_URI=mongodb://usuario:contraseña@host:puerto/base_de_datos?retryWrites=true&w=majority
JWT_SECRET=supersecreto123
PORT=5001
NODE_ENV=development
URL_OPENTDB=https://opentdb.com
TIMEOUT_OPENTDB=5000
TIMEOUT_BACKEND=10000
TIEMPO_LIMITE_DEFAULT=30